
body {
    margin: 0;
  }
  
  .home-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  
  .section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
   
  }

  .section img, video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  
  .video-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
  
  .video-wrapper video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  
  .video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    opacity: 0;
    transition: opacity 3s ease, transform 3s ease;
    pointer-events: none;
    text-align: center;
  }
  
  .video-overlay.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .video-overlay button {
    pointer-events: auto;
    
  }



  .tarifas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    justify-items: center;
    align-items: center;
  }

  .tarifas-item {
    background-color: white;
    color: black;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    width: 70%;
    height: 200px;
  }

  .tarifas-item__main{
    background-color:rgba(34, 49, 60, 1);
  }

  .tarifas-item__main h3{
    color: white;
  }
  
  .tarifas-item:hover {
    transform: scale(1.05);
  }


  
 
@media (max-width: 1024px) {
  .tarifas-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .tarifas-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 2rem 1rem;
  }

  .tarifas-item {
    flex: 0 0 80%;
    scroll-snap-align: center;
    max-width: none;
    min-width: 80%;
    height: 250px;
    margin-right: 1rem;
  }


}

  