
.franja-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 5px; 
}




.checkbox-container input {
    width: auto !important;
    margin-bottom: 0 !important;
}


select, ::picker(select) {
    appearance: base-select;
    border: 2px solid rgba(110, 195, 255);
}

select:hover{
    background-color:  rgba(110, 195, 255);
}

option {
    background: rgba(242, 247, 251);
    &:hover{
        background: rgba(110, 195, 255);
    }
    &:checked {
        background: rgba(110, 195, 255);
    }
}

::picker(select) {
    border-radius: 6px;
    border: 2px solid rgba(110, 195, 255);
    
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    border-radius: 6px;
    background-color: rgba(110, 195, 255);
    
  }

