

input, label {
    margin-left: 10px;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: bold;;
}


input {
    width: 150px;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(110, 195, 255);
    outline: none;
    padding: 2px;
    padding-left: 0;
    margin-bottom: 20px;
    
}


