

input, label {
    margin-left: 10px;
}

input {
    width: 150px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black; 
    outline: none;
    padding: 2px;
    padding-left: 0;
    margin-bottom: 20px;
}


