@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
.button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 7px 28px;
    border: 2px solid rgba(110, 195, 255);
    cursor: pointer;
    margin: 2px;
    transition: transform 0.2s ease-in-out;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size:16px;
    height: 40px;
}

.button:hover{
    background-color: rgba(110, 195, 255);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.button:active {
    transform: scale(0.9); 
}

.button--important {
    border: 2px solid rgba(110, 195, 255);
    background-color: rgba(110, 195, 255);
    
}

.button--danger {
    border: 2px solid rgb(255, 135, 87);
   
}

.button--danger:hover{
    background-color: rgb(255, 135, 87);
}